div.page-receita
  nav.navbar.navbar-default(role="navigation")
    div.container
      //- Brand and toggle get grouped for better mobile display
      div.navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
          span.sr-only Alternar menu
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="#") 
          |Panelando
          div.navbar-brand-icon
            i.icon.icon-food-1

      //- Collect the nav links, forms, and other content for toggling
      div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Login
          li
            a(href="#") Cadastrar
   

  div.container
    div.row
      div.col-md-4
        //-- Main menu
        nav.main-menu(role="navigation")
          ul.nav.nav-pills.nav-stacked
            li
              a(href="#/")
                |Home
                div.link-icon
                  i.icon.icon-shop

            li
              a(href="#/receitas/2")
                |Receitas
                div.link-icon
                  i.icon.icon-food-1

            li.active
              a(href="#/nova")
                |Nova Receita
                div.link-icon
                  i.icon.icon-doc-1


      div.col-md-8

        article.l-receita-content

          h2.l-receita-section-title Ingredientes

          div.notepad-block
            div.notepad-block-heading
          
            div.notepad-item-holder(
              data-ng-repeat="ingredient in ingredients"
            )
              span.notepad-number 
                |{{ $index + 1 }}
                
              div.notepad-item(
                data-ng-if="!ingredient.editing"
                data-ng-click="editIngredient($index)"
              )
                |{{ ingredient.description }}

              input.notepad-item.editing(
                type="text",
                data-ng-if="ingredient.editing"
                data-ng-value="ingredient.description"
                data-ng-model="ingredients[$index].description"
                data-ng-keydown="saveIngredient($event, $index, true)"
                focus="ingredient.editing"
              )  

            input.notepad-item(
              placeholder="Digite o ingrediente e aperte enter"
              data-ng-model="newIngredient.description"
              data-ng-keydown="addIngredient($event)"
            )

          h2.l-receita-section-title Modo de Preparo

          div.notepad-block
            div.notepad-block-heading
          
            div.notepad-item-holder(
              data-ng-repeat="step in steps"
            )
              span.notepad-number 
                |{{ $index + 1 }}
                
              div.notepad-item(
                data-ng-if="!step.editing"
                data-ng-click="editStep($index)"
              )
                |{{ step.description }}

              input.notepad-item.editing(
                type="text",
                data-ng-if="step.editing"
                data-ng-value="step.description"
                data-ng-model="steps[$index].description"
                data-ng-keydown="saveStep($event, $index, true)"
                focus="step.editing"
              )  

            textarea.notepad-item(
              placeholder="Digite a instrução e aperte enter"
              data-ng-model="newStep.description"
              data-ng-keydown="addStep($event)"
            )

